.index-page {
  padding-bottom: 120px;
}

.index-content {
  padding: 24px;
}

.index-card {
  margin-bottom: 24px;
}

.card-header {
  margin-bottom: 20px;
}

.card-title {
  font-size: 30px;
  font-weight: 700;
  color: #f1f5f9;
}
